h2 {
	font-size: 45px;
}

label,
input[type='text'],
input[type='email'],
input[type='password'] {
	font-size: 25px;
}

input[type='checkbox'] {
	width: 30px;
	margin: 0px auto;
}

.btn {
	font-size: 20px;
}

.btn-default.btn.Ripple-parent.btn-registro {
	font-size: 1.3rem;
	padding: 0.15rem 0.7rem;
	background-color: #d55e00 !important;
}

.btn-default.btn.Ripple-parent.btn-inicio {
	font-size: 1.3rem;
	padding: 0.15rem 0.7rem;
	background-color: #d55e00 !important;
}
