.item-tienda .btn-default.btn {
	font-size: 0.65rem;
	width: 4.3rem;
	padding: 0rem 0rem;
	margin: 0rem;
	color: #1d170e !important;
	background-color: #f6d196 !important;
	border: 0.1rem solid #7c643c !important;
}

.img-item-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 5rem;
	width: 5rem;
	margin: 0rem;
}

.img-item {
	position: absolute;
	height: 5rem;
	width: 5rem;
	margin: 0rem;
}

.img-item-fondo {
	position: absolute;
}

.item-tienda {
	width: fit-content;
	padding: 0.4rem;
	margin: 1rem;
	background: repeating-linear-gradient(
		0deg,
		#ebc486,
		#ebc486 20px,
		#f6d196 20px,
		#f6d196 40px
	);
	border-radius: 1rem;
	border: 0.2rem solid #7c643c;
}

.item-tienda img {
	width: 4rem;
	height: 4rem;
}

.container.mt-4.contenedor-pills .container.mt-9 {
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 20rem;
	background: repeating-linear-gradient(
		90deg,
		#ebc486,
		#ebc486 20px,
		#f6d196 20px,
		#f6d196 40px
	);
	border-radius: 1rem;
	border: 0.2rem solid #7c643c;
}

.item-tienda img.riskos-img {
	width: 1rem;
	height: 1rem;
	margin-right: 0.2rem;
}

div.modal-content {
	color: #111 !important;
	border: 0.3rem solid #7c643c !important;
	border-radius: 2rem;
	background: repeating-linear-gradient(
		90deg,
		#ebc486,
		#ebc486 20px,
		#f6d196 20px,
		#f6d196 40px
	);
}

.btn-default.btn.Ripple-parent.compra-objeto {
	background-color: #009e73 !important;
}

.btn-default.btn.Ripple-parent.cancela-compra {
	background-color: rgb(224, 57, 57) !important;
}
