/*.amigo {
  background: #f4f4f4;
  border: 1px solid black;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.amigo h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}*/

* {
  font-size: 1.325rem;
}

.btn-default.btn.Ripple-parent.btn-borrar {
  background-color: rgb(224, 57, 57)!important;
  height: 2.2rem;
  width: 2.2rem;
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.2rem;
}

.btn-primary.btn.Ripple-parent.btn-addfriend {
  font-size: 1.2rem;
  padding: .1rem .5rem;
  margin: .75rem;
  margin-left: 0rem;
}

.nav-link.Ripple-parent {
  font-size: 1.29rem;
  padding: .2rem;
}