* {
	font-size: 1.325rem;
}

.nav-link.Ripple-parent {
	font-size: 1.29rem;
}

.nav-link.Ripple-parent.active {
	padding: 0.2rem;
}

.btn-danger.btn.Ripple-parent.btn-notis,
.btn-default.btn.Ripple-parent.btn-notis {
	height: 2.2rem;
	width: 2.2rem;
	padding: 0rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2.2rem;
}

.btn-danger.btn.Ripple-parent.btn-notis i,
.btn-default.btn.Ripple-parent.btn-notis i {
	margin-left: 0.5rem;
	margin-top: 0.1rem;
}

.btn-default.btn.Ripple-parent.btn-notis {
	background-color: #009e73 !important;
}

.btn-primary.btn.Ripple-parent.btn-modal {
	font-size: 1.15rem;
	padding: 0.3rem 1.2rem;
}
