.navbar-dark.navbar.navbar-expand-md {
	background-color: rgba(255, 140, 0, 0.3);
	color: #fff !important;
}

.navbar-dark.navbar.navbar-expand-md:hover {
	background-color: rgba(255, 140, 0, 0.5);
}

.dropdown-item:hover {
	background-color: rgba(168, 72, 0, 0.7) !important;
}

.fa {
	margin-right: 0.45rem;
}

strong.white-text {
	font-size: 2.75rem;
}

#head-user {
	font-size: 1.75rem;
	margin-left: 0.25rem;
}

.dropdown.show .show.dropdown-menu.dropdown-default a {
	font-size: 1.4rem;
}

.riskos-head {
	color: #fff;
	display: flex;
	align-items: center;
	padding: 0.5rem;
}

.riskos-img {
	width: 1rem;
}

#riskos-num {
	font-size: 1.75rem;
	margin-left: 0.1rem;
}

.icono {
	position: absolute;
	top: 0.67rem;
	width: 2.75rem;
}

.marco-icono {
	width: 2.75rem;
}

.dropdown .dropdown-toggle {
	background-color: rgba(168, 72, 0, 0) !important;
}

.dropdown:hover .dropdown-toggle {
	background-color: rgba(168, 72, 0, 0.7) !important;
}
