.fases {
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	justify-content: center;
	height: 10rem;
	padding: 1rem;
}

path.activa {
	fill: #666 !important;
	stroke: white;
	stroke-width: 2;
}
