ul.list-group {
	width: 100% !important;
}

.list-group-item.list-group-item-undefined {
	background: repeating-linear-gradient(
		90deg,
		#ebc486,
		#ebc486 20px,
		#f6d196 20px,
		#f6d196 40px
	);
	border-radius: 1rem !important;
	border-width: 0.3rem !important;
	border-style: solid;
	color: #444;
	margin-bottom: 1rem;
	width: 13rem;
	font-size: 4rem;
}

.list-group-item.esSuTurno.list-group-item-undefined {
	background: repeating-linear-gradient(
		0deg,
		#ebc486,
		#ebc486 20px,
		#f6d196 20px,
		#f6d196 40px
	);
	border-radius: 1rem !important;
	border-width: 0.6rem !important;
	border-style: outset;
	color: #444;
	margin-bottom: 1rem;
}

.list-group-item.jugador0 {
	border-color: #d55e00;
}

.list-group-item.jugador1 {
	border-color: #0072b2;
}

.list-group-item.jugador2 {
	border-color: #e69f00;
}

.list-group-item.jugador3 {
	border-color: #009e73;
}

.list-group-item.jugador4 {
	border-color: #cc79a7;
}

.list-group-item.jugador5 {
	border-color: #f2f2f2;
}

.icono-marco-jugador,
.aspecto-jugador {
	position: absolute;
	width: 3.5rem;
}

.icono-jugador-partida,
.aspecto-fondo-jugador {
	width: 3.5rem;
}

.btn-default.btn.Ripple-parent.mt-1 {
	font-size: 1.3rem;
	padding: 0.15rem 0.7rem;
	background-color: #d55e00 !important;
}
