ul.list-group {
	width: 100% !important;
}

.list-group-item.jugador-en-partida.list-group-item-undefined {
	background: repeating-linear-gradient(
		90deg,
		#ebc486,
		#ebc486 20px,
		#f6d196 20px,
		#f6d196 40px
	);
	border-radius: 1rem !important;
	border-width: 0.3rem !important;
	border-style: solid;
	color: #444;
	margin-bottom: 1rem;
	width: 13rem;
	font-size: 4rem;
}

.list-group-item.esSuTurno.list-group-item-undefined {
	background: repeating-linear-gradient(
		0deg,
		#ebc486,
		#ebc486 20px,
		#f6d196 20px,
		#f6d196 40px
	);
	border-radius: 1rem !important;
	border-width: 0.6rem !important;
	border-style: outset;
	color: #444;
	margin-bottom: 1rem;
}

/*
.jugadores-en-partida {
	background: repeating-linear-gradient(
		0deg,
		#ebc486,
		#ebc486 20px,
		#f6d196 20px,
		#f6d196 40px
	);
	border-radius: 1rem !important;
	border-width: 0.1rem !important;
	border-style: outset;
	color: #444;
}
*/

.list-group-item.jugador0 {
	border-color: #ff5959;
}

.list-group-item.jugador1 {
	border-color: #269bff;
}

.list-group-item.jugador2 {
	border-color: #ffb000;
}

.list-group-item.jugador3 {
	border-color: #00c9a7;
}

.list-group-item.jugador4 {
	border-color: #d47ead;
}

.list-group-item.jugador5 {
	border-color: #f2f2f2;
}

.jugador-en-partida .icono-marco-jugador,
.jugador-en-partida .aspecto-jugador {
	position: absolute;
	width: 3.5rem;
}

.jugador-en-partida .icono-jugador-partida,
.jugador-en-partida .aspecto-fondo-jugador {
	width: 3.5rem;
}

.btn-default.btn.Ripple-parent.mt-1 {
	font-size: 1.3rem;
	padding: 0.15rem 0.7rem;
	background-color: #d55e00 !important;
}
