@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

#load-spinner {
	width: 20rem;
	animation: spinner 1s ease-out infinite;
}

.btn-default.btn.Ripple-parent.btn-pasar,
.btn-default.btn.Ripple-parent.btn-cancelar {
	font-size: 1.3rem;
	height: 18rem;
	width: 6.5rem;
	color: white !important;
	padding: 0.15rem 0.7rem;
	background-color: #d55e00 !important;
}

.btn-default.btn.Ripple-parent.btn-pasar:hover,
.btn-default.btn.Ripple-parent.btn-cancelar:hover {
	background-color: #bb5609 !important;
}

.loader {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mapa {
	background-color: #4aa5f6;
	/*
	background-image: url(assets/images/textura_agua.png);
	background-size: auto;
	background-repeat: repeat;
	*/
	border: 0.4rem solid #7c643c;
	width: 70rem;
	margin-bottom: 4rem;
}

.mapa path {
	pointer-events: all;
	stroke-width: 0.06rem;
	stroke: #7c643c;
	fill: #b2d163;
}

.mapa image {
	pointer-events: none;
	width: 3.4rem;
}

.mapa text {
	stroke: darkslategrey;
	stroke-width: 0.04rem;
	pointer-events: none;
}

.mapa line {
	stroke: rgba(255, 255, 255, 0.555);
	stroke-width: 2;
	pointer-events: none;
}

.mapa foreignObject {
	pointer-events: none;
}

.icono-jugador-partida {
	width: 3rem;
}

.mapa path:hover {
	filter: brightness(1.5);
}
.mapa path.jugador0 {
	fill: #ff5959;
}

.mapa path.jugador1 {
	fill: #045faf;
}

.mapa path.jugador2 {
	fill: #ffb000;
}

.mapa path.jugador3 {
	fill: #00c9a7;
}

.mapa path.jugador4 {
	fill: #d47ead;
}

.mapa path.jugador5 {
	fill: #f2f2f2;
}

.origen_antiguo {
	filter: grayscale(75%);
}

.destino_antiguo {
	filter: grayscale(75%);
}

.origen {
	filter: brightness(1.5);
}

.destino {
	filter: brightness(1.5);
}

div.fondo-numTropas {
	width: 1.6rem;
	height: 1.02rem;
	background-color: #222;
	border-top-right-radius: 1.6rem;
	border-bottom-right-radius: 1.6rem;
	border-bottom-left-radius: 1.2rem;
}
