@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

#load-spinner {
	width: 20rem;
	animation: spinner 1s ease-out infinite;
}

.loader {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mapa {
	background-color: #4aa5f6;
	border: 0.4rem solid #7c643c;
	width: 53rem;
	margin-left: 5rem;
}

.mapa path {
	stroke-width: 0.06rem;
	stroke: #7c643c;
	fill: #b2d163;
}

.icono-jugador-partida {
	width: 3rem;
}
