.list-group-item.jugador-sala.list-group-item-undefined {
	background: repeating-linear-gradient(
		0deg,
		#ebc486,
		#ebc486 20px,
		#f6d196 20px,
		#f6d196 40px
	);
	border-color: #7c643c;
	border-radius: 1rem !important;
	border-width: 0.3rem !important;
	border-style: solid;
	color: #444;
	margin-bottom: 1rem;
	width: 100%;
}

.jugador-sala .nombre-jugador {
	font-size: 2rem;
}

.jugador-sala .icono-marco-jugador,
.jugador-sala .aspecto-jugador {
	position: absolute;
	width: 3.5rem;
}

.jugador-sala .icono-jugador,
.jugador-sala .aspecto-fondo-jugador {
	width: 3.5rem;
}

.btn-default.btn.Ripple-parent.mt-1 {
	font-size: 1.3rem;
	padding: 0.15rem 0.7rem;
	background-color: #d55e00 !important;
}

ul.list-group.lista-jugadores-sala {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 18.5rem;
}
