@font-face {
	font-family: 'Pixel';
	src: local('Pixel'),
		url(./fonts/exepixelperfect.medium.ttf) format('truetype');
}

* {
	font-family: 'Pixel';
}

.App {
	background-image: url(./assets/images/FondoMenu_7x.png);
	background-size: contain;
}

/* Empuja el footer al fondo de la página, mantener */
.wrapper {
	min-height: calc(100vh - 6rem);
	/*background-color: #000000;*/
	color: antiquewhite;
}
